Repository kubernetes/sig-security, pull requests merged in 2021-12, with the labels that each got.

#16 Docs for scanning known vulnerabilities in build time dependencies
  sig-security-tooling/vulnerability-mgmt/README.md
  sig-security-tooling/vulnerability-mgmt/build-time-dependencies.md
Labels: approved, sig/release, lgtm, sig/security, size/L, sig/architecture, cncf-cla: yes

#19 add missing images for K8s Policy paper
  sig-security-docs/papers/policy/images/4c.png
  sig-security-docs/papers/policy/images/Kubernetes-admission-controls.png
  sig-security-docs/papers/policy/images/Kubernetes-policy-architecture.png
  sig-security-docs/papers/policy/images/OSCAL-layers.png
  sig-security-docs/papers/policy/images/XACML-architecture.png
  sig-security-docs/papers/policy/kubernetes-policy-management.pdf
Labels: size/XS, approved, lgtm, cncf-cla: yes

#5 Create new github issue template for security assessments
  .github/ISSUE_TEMPLATE/security-assessment.md
Labels: size/M, approved, lgtm, sig/security, cncf-cla: yes

#18 Rename k/community/sig-security links to k/sig-security
  sig-security-external-audit/README.md
Labels: size/XS, approved, lgtm, cncf-cla: yes
